<div class="custom-product-detail">
  <h2 class="custom-product-detail__title"></h2>

  <p class="custom-product-detail__description"></p>

  <span class="custom-product-detail__price"></span>

  <div class="custom-product-detail__sizes"></div>

  <div class="custom-product-detail__colors"></div>
</div>
