.custom-popup {
  position: absolute;
  top: var(--popup-top);
  right: var(--popup-right);

  z-index: 2;
}

.custom-popup__button {
  width: 22px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;
  border: none;
  border-radius: 50%;

  background-color: #f8f8f8e5;

  appearance: none;
  cursor: pointer;
}
