.custom-banner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.custom-banner__header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 10px 50px;
  height: 64px;
  width: 100%;
}
.custom-banner__logo {
  width: 151px;
  height: 19px;
}

.custom-banner__description {
  font-size: 16px;
  margin: 0;
}

.custom-banner__button {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 207px;
  height: 44px;
  padding: 0 20px;

  text-decoration: none;
  color: black;
  background-color: #fff544;
}

.custom-banner__button-text {
  font-size: 16px;
}

.custom-banner__button-arrow {
  width: 30px;
  height: 18px;
}

.custom-banner__burger {
  display: none;
  border: none;
  background: transparent;
  height: 18px;
  cursor: pointer;
}

.custom-banner__dropdown {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 124px;
  background-color: #f2f2f2;
  gap: 1px;
}
.custom-banner__dropdown-description {
  font-size: 16px;
}
.custom-banner__dropdown-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 247px;
  height: 44px;
  padding: 0 20px;

  text-decoration: none;
  color: black;
  background-color: #fff544;
}
.custom-banner__dropdown-button-text {
  font-size: 16px;
}
.custom-banner__dropdown-button-arrow {
  width: 30px;
  height: 18px;
}

.custom-banner__close-icon {
  display: none;
}

@media (max-width: 768px) {
  .custom-banner__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .custom-banner__header {
    padding: 0 20px;
    justify-content: space-between;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 4px 0px #00000026;
  }
  .custom-banner__burger {
    display: block;
  }
  .custom-banner__burger.is-open .custom-banner__burger-icon {
    display: none;
  }

  .custom-banner__burger.is-open .custom-banner__close-icon {
    display: block;
  }
  .custom-banner__dropdown {
    display: none;
  }
  .custom-banner__dropdown.is-active {
    display: flex;
  }
  .custom-banner__description,
  .custom-banner__button {
    display: none;
  }
}

/* /hero section styling */

.custom-hero {
  display: flex;
  flex-direction: column;
}

.custom-hero__bottom-section {
  display: flex;
  flex-direction: row;
}
.custom-hero__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 60px;
  gap: 8px;
}
.custom-hero__title {
  font-size: 70px;
  margin: 0;
  font-weight: 500;
}
.custom-hero__subtitle {
  width: 483px;
  font-size: 20px;
  font-weight: 400;
}
.custom-hero__button {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 220px;
  height: 50px;
  padding: 15px 20px 15px 58px;

  gap: 26px;

  text-decoration: none;
  color: white;
  background-color: black;
}
.custom-hero__button-text {
  font-size: 16px;
  font-weight: 400;
}
.custom-hero__button-arrow {
  width: 25px;
  height: 18px;
}

.custom-hero__background-image {
  flex: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-hero__mobile-content {
  position: relative;
  display: none;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 150px;
}
.custom-hero__mobile-background-image {
  display: none;
}
.custom-hero__mobile-button {
  display: none;
  align-items: center;
  justify-content: flex-start;

  width: 193px;
  height: 45px;
  padding: 15px 20px 15px 58px;

  gap: 26px;

  text-decoration: none;
  color: white;
  background-color: black;
}
.custom-hero__mobile-button-text {
  font-size: 16px;
  font-weight: 400;
}

.custom-hero__mobile-button-arrow {
  width: 25px;
  height: 18px;
}

@media (max-width: 768px) {
  .custom-hero__background-image {
    display: none;
  }
  ,
  .custom-hero__bottom-section {
    display: none;
  }
  ,
  .custom-hero__mobile-content {
    display: flex;
  }
  ,
  .custom-hero__mobile-background-image {
    display: block;
  }
  ,
  .custom-hero__mobile-button {
    display: flex;
    position: absolute;
  }
}
